<div class="MainDiv">
    <div class="loginDiv">
            <img src="../assets/Asset Elixir-LOGO.png" width="300px" class="logoImage"/>
            <div class="inputWithLabel" style="margin-top: -40px;">
                <label>Enter Your Name :</label><br>
                <input type="text" [(ngModel)]="UserObj.Name"/>
             </div>
             <div class="inputWithLabel" style="margin-top: 20px;">
                <label>Enter Your Mobile Number :</label><br>
                <input type="text" [(ngModel)]="UserObj.Number"/>
             </div>
             <button (click)="Submit1()" class="Submit1">Submit</button>
    </div>
</div>
